.navbar {
    margin: 0 auto;
    padding: 8px 0px;
    font-size: 30px;
    overflow: hidden;
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    align-items: center;
    text-align: center;
    z-index: 999;
    background-color: rgb(255, 255, 255);
    border-bottom: 1px solid black;
    /* Added border style and color */
}

.nav-img {
    opacity: 0.7;
    background-color: black;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    min-height: 100%;
    filter: saturate(0.7);
}

.nav-logo {
    position: relative;
    width: 70px;
    height: 70px;
    margin: 0 auto;
    transition: all .2s ease-in-out;
    z-index: 1;
}

.nav-logo:hover {
    transform: scale(1.2);
}

.nav-buttons {
    max-width: 1024px;
    margin: 0 auto;
    width: 100%;
    justify-content: space-between;

    font-size: 20px;
    display: flex;
    position: relative;
    align-items: center;
    text-align: center;
    
}

.nav-buttons-logged-in {
    display: flex;
    width: fit-content;
}

.nav-logout-btn {
    margin-left: 15px;
}

a:link, a:visited, a:active {
    color: #F87D68;
    text-decoration: none;
}

.nav-logout-btn>span {
    color: #F87D68;
    text-decoration: none;
    cursor: pointer;
}

.nav-logout-btn:hover>span {
    color: #000000;
}

a:hover {
    color: #000000;
    text-decoration: none;
}


/* .navbar {
    display: flex;
    justify-content: flex-end;
    background-color: #333;
    color: #fff;
    padding: 10px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
}

.navbar-item {
    margin: 0 10px;
    cursor: pointer;
    color: #030303;
    font-size: 24px;
    font-weight: 600;
    line-height: 36px;
} */