.user-dashboard {
    margin: 0 auto;
    margin-top: 20px;
    border: 1px black solid;
    border-radius: .5rem;
    padding: 0 20px;
    width: 500px;
}

.user-reviews {
    margin: 0 auto;
    margin-top: 20px;
    border: 1px black solid;
    border-radius: .5rem;
    padding: 0 20px;
    width: 500px;
}